.about {
    background-color: #E0E7F8;
    height: 100%;
    top: 0;
}

.about > p.quote {
    font-size: 24px;
    text-align: center;
    color: #0279E1;
}

.statement {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    margin: 10px 20px 10px 20ppx;
}

.resume {
    font-size: 18px;
    text-align: center;
}