.jumbotron {
    background: url('https://images.unsplash.com/photo-1528999981900-4a4b66b29540?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80')
    no-repeat center;

    background-size: cover;
    color: black;
    border-top: 2px solid black;
    text-align: center;
    padding: 130px;
    height: 70vh;

}